.wrapper .aboutme {
  padding: 0em;
}

.aboutme {
  grid-area: b;
  background-color: #fbe4df;
  width: auto;
  border: 1px #59302d solid;
  border-radius: 25px;
  display: inline-block;
  overflow: hidden;
}

.aboutme_content {
  height: 420px;
  width: inherit;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 2em;
}
