.wrapper .aboutme {
  padding: 0px;
}

.aboutme {
  background-color: #fbe4df;
  border: 1px #59302d solid;
  border-radius: 25px;
  display: flex;
  overflow: hidden;
}

.aboutme_content {
  height: inherit;
  width: inherit;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0px 20px;
}