body {
  place-content:center;
  font-family: 'Raleway', sans-serif;
  color: #59302d;
  overflow: auto;
  height: 100vh;
}

html {
  background-image: linear-gradient(to bottom right, #ebcecc, #cf8d5f);
  background-attachment: fixed;
  scrollbar-color: #ab6d60 #fbe4df;
  scrollbar-width: thin;
}

@media (min-width: 700px) {
  html {
    padding: 0px;
  }

  body {
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

p {
  font-size: 14px;
  font-weight: 400;
}

.wrapper {
  display: flex;
  align-self: center;
  flex-direction: column;
  max-width: 100%;
  height: auto;
  row-gap: 20px;
  margin: 40px;
}

@media (min-width: 700px) {
  .wrapper {
    width: 540px;
    height: auto;
  }
}

.wrapper .wrapper_body {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

@media (min-width: 700px) {
  .wrapper .wrapper_body {
    flex-direction: row;
    column-gap: 20px;
    row-gap: 0px;
  }
}

.header {
  padding: 25px 20px;
  height: auto;
  background-color: #ddb6b3;
  border: 1px #59302d solid;
  border-radius: 25px;
}

.sidebar {
  padding: 25px 20px;
  background-color: #f2d6c7;
  border: 1px #59302d solid;
  border-radius: 25px;
}

@media (min-width: 700px) {
  .sidebar {
    width: 200px;
    height: auto;
  }
}

.sidebar > img {
  width: 100%;
  border: 1px #59302d solid;
  border-radius: 5px;
}

.playlist {
  padding: 25px 20px;
  background-color: #e0ab98;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  align-items: flex-start;
  border: 1px #59302d solid;
  border-radius: 25px;
  height: auto;
}

@media (min-width: 700px) {
  .playlist {
    width: 320px;
    height: auto;
  }
}

.playlist .playlist_header {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
}

.playlist .playlist_details {
  display: flex;
  width: auto;
  flex-direction: column;
  row-gap: 10px;
}

.playlist_cover > img {
  object-fit: cover;
  height: 100px;
  width: 100px;
  border:1px #59302d solid;
  border-radius: 5px;
}

.playlist .playlist_name {
  align-self: center;
}

.playlist .playlist_name > h3 {
  display:inline;
  font-weight: 400;
}

.playlist .playlist_actions {
  align-self: flex-start;
}

.playlist .playlist_actions > div {
  display: inline-block;
  vertical-align: middle;
}

.playlist .playlist_actions .heart_icon {
  fill: transparent;
  stroke: #59302d;
  stroke-width: 1.7;
  cursor: pointer;
  transition-property: fill;
  transition-duration: 0.5s;
}

.playlist .playlist_actions .share_icon {
  cursor: pointer;
  fill: #59302d;
  transform-origin: center;
}

@keyframes pop_animate {
  0%{
    transform: scale(1.0);
  }

  50%{
    transform: scale(1.1);
  }

  100%{
    transform: scale(1.0);
  }
}

.pop_animate {
  animation: pop_animate 0.5s ease-in-out forwards;
}

.playlist .playlist_description {
  line-height: 14px;
  margin: 0px;
}

.playlist .playlist_songs {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.playlist .playlist_songs .song {
  display: flex;
  flex-direction: row;
  padding: 10px;
  background-color: rgba(201, 142, 123, 0);
  column-gap: 10px;
  border: 1px #59302d solid;
  border-radius: 10px;
  align-items: center;
  cursor: pointer;
  transition: 0.3s;
}

.playlist .playlist_songs .song:hover {
  background-color: rgba(201, 142, 123, 1);
}

.playlist .playlist_songs .song > p {
  align-self: center;
  line-height: 14px;
  margin: 0px;
}

.playlist .playlist_songs .song > p#song_length {
  margin-left: auto;
}

.playlist .playlist_songs .song > img {
  height: 30px;
  width: 30px;
  object-fit: cover;
  border: 1px #59302d solid;
  border-radius: 5px;
}

.playlist .playlist_songs .song > p > a {
  color: #59302d;
  text-decoration: none;
}

.playlist .player_buttons {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  column-gap: 30px;
  margin-top: 20px;
  align-items: center;
}

.playlist .player_buttons .player_button:hover {
  animation: pop_animate 0.5s ease-in-out forwards;
}

.playlist .player_button > a {
  height: 100%;
  width: 100%;
}

.playlist .player_button > a#pause_play {
  text-decoration: none;
  color: inherit;
}

.playlist .player_button > a#go_back {
  text-decoration: none;
  color: inherit;
}

.playlist .player_button > a#go_forward {
  justify-items: start;
  text-decoration: none;
  color: inherit;
}

/* scrollbar customization here */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fbe4df;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ab6d60;
  border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #c75b44;
}
