/* this is the stylesheet for shared styles across the site */
body {
  /* TODO: add word highlighting */
  display:grid;
  place-content:center;
  font-family: 'Raleway', sans-serif;
  color: #59302d;
  height: 100%;
}

@media (min-width: 700px) {
  body {
    height: 100vh;
  }

  html {
    height: 100vh;
  }
}

html {
  background-image: linear-gradient(to bottom right, #ebcecc, #cf8d5f);
  background-attachment: fixed;
}

p {
  font-size: 14px;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: inherit;
}

span .bold {
  font-weight: 800;
}

span .light {
  font-weight: 200;
}

.hi_salmon {
  background-color: #f2a18d;
}

.wrapper {
  display:grid;
  width:320px;
  height:auto;
  grid-template-areas:
      "c c"
      "b b"
      "a a";
  grid-gap:1em;
  padding: 1em;
}

@media (min-width: 700px) {
  .wrapper {
    width: 700px;
    height: auto;
    grid-template-columns: 320px 360px;
    grid-template-areas:
        "c c"
        "a b";
    padding: 0em;
  }
}

.header {
  grid-area: c;
  background-color: #ddb6b3;
  border: 1px #59302d solid;
  border-radius: 25px;
}

.song {
  grid-area: a;
  background-color: #e0ab98;
  display:grid;
  height: 420px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(11, 9%);
  grid-column-gap: 1em;
  border: 1px #59302d solid;
  border-radius: 25px;
}

.song_back {
  grid-column: 1 / -1;
  grid-row: 1;
  max-height: 100%;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: subgrid;
  grid-gap: 3px;
  align-items: center;
}

.song_back .back_button {
  grid-row: 1;
  grid-column: 1;
}

.back_button > a {
  grid-column: 1;
  display: inline-block;
}

.back_text {
  grid-row: 1;
  grid-column: 2 / 4;
  padding-bottom: 2px;
}

.back_text > a:visited {
  color: #59302d;
}

.song .song_title {
  grid-column: 1 / -1;
  grid-row: 3;
  align-self: end;
  justify-self: center;
}

.song .song_title > h3 {
  font-weight: 400;
}

.song .song_cover {
  grid-row: 4 / 8;
  grid-column: 1 / -1;
  justify-self: center;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.song_cover > img {
  object-fit: cover;
  width: 100%;
  max-height: 100%;
  border:1px #59302d solid;
  border-radius: 3px;
}

.song .song_credits {
  grid-row: 9 / 10;
  grid-column: 1 / -1;
  align-self: end;
}

.song .song_length {
  grid-row: 10;
  grid-column: 1 / -1;
  width: 100%;
  place-self: center;
}

@keyframes playsong {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(285px);
  }
}

.song_length > svg {
  fill: #59302d;
}

.song_length > svg > ellipse {
  animation: playsong 50s linear infinite;
}

.song .player_buttons {
  grid-row: 11;
  max-height: 100%;
  text-align: center;
}

.song .player_buttons > a {
  display: inline-grid;
  align-items: center;
  height: 100%;
  width: 100%;
}

.song .player_buttons > a#pause_play {
  justify-items: center;
}

.song .player_buttons > a#go_back {
  justify-items: end;
}

.song .player_buttons > a#go_forward {
  justify-items: start;
}

.wrapper > div {
  padding: 2em;
}

/* scrollbar customization here */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fbe4df;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ab6d60;
  border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #c75b44;
}
