/* this is the stylesheet for shared styles across the site */
body {
  /* TODO: add word highlighting */
  font-family: 'Raleway', sans-serif;
  color: #59302d;
  padding: 0px;
  margin: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
  overflow-x: hidden;
}

@media (min-width: 700px) {
  body {
    height: 100vh;
  }
}

html {
  background-image: linear-gradient(to bottom right, #ebcecc, #cf8d5f);
  background-attachment: fixed;
}

p {
  font-size: 14px;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: inherit;
}

span .bold {
  font-weight: 800;
}

span .light {
  font-weight: 200;
}

.hi_salmon {
  background-color: #f2a18d;
}

.wrapper {
  display: flex;
  max-width: 100%;
  height: auto;
  flex-direction: column;
  row-gap: 20px;
  margin: 40px;
}

@media (min-width: 700px) {
  .wrapper {
    width: 700px;
    height: auto;
  }
}

.wrapper .wrapper_body {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  padding: 0px;
}

@media (min-width: 700px) {
  .wrapper .wrapper_body {
    flex-direction: row;
    max-width: 100%;
    height: 480px;
    column-gap: 20px;
  }
}

.header {
  padding: 25px 20px;
  background-color: #ddb6b3;
  border: 1px #59302d solid;
  border-radius: 25px;
}

.song {
  background-color: #e0ab98;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  row-gap: 10px;
  padding: 20px;
  border: 1px #59302d solid;
  border-radius: 25px;
}

@media (min-width: 700px) {
  .song {
    width: 280px;
    min-width: 280px;
    max-width: 280px;
  }
}

.song_back {
  width: 100%;
  justify-content: flex-start;
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  align-items: center;
}

.back_button:hover {
  animation: player-pop 0.3s ease-in-out forwards;
}

.back_button > a {
  display: inline-block;
}

.back_text > a:visited {
  color: #59302d;
}

.song .song_title {
  align-self: center;
  justify-self: center;
}

.song .song_title > h3 {
  font-weight: 400;
  padding: 0px;
}

.song .song_cover {
  width: 200px;
  height: 200px;
  align-self: center;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.song_cover > img {
  object-fit: cover;
  width: 100%;
  max-height: 100%;
  border:1px #59302d solid;
  border-radius: 3px;
}

.song .song_credits {
  align-self: flex-start;
  margin-top: 20px;
}

.song .song_length {
  width: 100%;
}

@keyframes playsong {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(285px);
  }
}

.song_length > svg {
  fill: #59302d;
}

.song_length > svg > ellipse {
  animation: playsong 50s linear infinite;
}

.song .player_buttons {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  align-items: center;
  justify-content: center;
}

.song .player_buttons .player_button:hover {
  animation: player-pop 0.5s ease-in-out forwards;
}

@keyframes player-pop {
  0% {
    transform: scale(1.0);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1.0);
  }
}

.song .player_buttons .player_button > a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  width: 32px;
}

p > a {
  font-weight: bold;
}

/* scrollbar customization here */

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fbe4df;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ab6d60;
  border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #c75b44;
}
