body {
  height: auto;
  flex-direction: column;
}

section {
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 700px) {
  section {
    height: 100vh;
    padding: 0px;
  }
}

.header {
  background-color: #ddb6b3;
}

.header > h3 {
  margin-bottom: 0;
  margin-top: 0;
}

.aboutme {
  max-height: 100%;
  padding: 0px 10px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

@media (min-width: 700px) {
  .aboutme {
    padding: 0px;
  }
}

.aboutme > .highlights_header {
  display: flex;
}

.highlights_header > h3 {
  align-self: center;
  justify-self: start;
  margin-top: 0;
  margin-bottom: 0;
}

.highlights_header > i {
  align-self: center;
  margin-left: auto;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.highlights_header > i:hover {
  animation: player-pop 0.3s ease-in-out forwards;
}

.aboutme > .highlights_album {
  display: grid;
  box-sizing: border-box;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);
  grid-gap: 20px;
  flex-grow: 1;
}

.highlights_album > .project {
  display: flex;
  align-items: center;
  justify-content: baseline;
  text-align: center;
  flex-direction: column;
  row-gap: 10px;
  perspective: 1000px;
}

.card {
  display: flex;
  width: 160px;
  height: 160px;
  position: relative;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 5px;
  object-fit: cover;
}

.project:hover .card {
  transform: rotateX(-180deg);
}

.card_front, .card_back {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  max-height: 100%;
}

.card_front {
  background-color: transparent;
  width: 100%;
  max-height: 100%;
  color: #59302d;
  border: 1px #59302d solid;
  border-radius: 5px;
  overflow: hidden;
}

.card_back {
  display: grid;
  place-items: center;
  background-color: #e0ab98;
  position: absolute;
  overflow-y: auto;
  padding: 10px;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  color: white;
  transform: rotateX(-180deg);
  border: 1px #ffffff solid;
  border-radius: 3px;
  gap: 5px;
}

.card_back > p {
  padding: 0px;
  margin: 0px;
}

.card_back > a {
  color: white;
  border: solid;
  border-width: thin;
  padding: 5px;
  border-radius: 5px;
  margin: 0px;
}

.card_back > a:hover {
  background-color: rgba(255, 255, 255, 0.34);
  transition: 100ms;
}

.project_name > a {
  text-decoration: none;
  color: #59302d;
}

.full_portfolio {
  flex-direction: column;
  row-gap: 10px;
  margin: 0px 40px;
}

@media (min-width: 700px) {
  .full_portfolio {
    margin: 0px;
  }
}

.portfolio_navbar {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  row-gap: 10px;
  padding-bottom: 10px;
}

.portfolio_navbar > h3 {
  margin: 0px;
}

.portfolio_nav {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  flex-wrap: wrap;
  column-gap: 10px;
  row-gap: 5px;
  padding: 0px;
  margin: 0px;
}

.portfolio_tab {
  cursor: pointer;
  padding: 0px;
  margin: 0px;
}

.portfolio {
  width: 100%;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: auto auto;
  align-items: baseline;
  gap: 20px;
  padding: 20px;
  background-color: #e8dff5;
  margin-bottom: 20px;
}

@media (min-width: 700px) {
  .portfolio {
    width: 660px;
    height: 420px;
    overflow-y: auto;
    box-sizing: content-box;
    grid-template-columns: 150px 150px 150px 150px;
    margin-bottom: 0px;
  }
}

.portfolio > .project {
  display: flex;
  flex-direction: column;
  width: 150px;
  row-gap: 10px;
  perspective: 1000px;
}

.portfolio > .project > .card {
  width: 150px;
  height: 150px;
}

.portfolio_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.portfolio_header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.portfolio_header > a#header_link {
  text-decoration: none;
  color: inherit;
}

.music_player {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
  margin-bottom: 10px;
}

.music_player .player_button {
  cursor: pointer;
}

.music_player .player_button:hover {
  animation: player-pop 0.3s ease-in-out forwards;
}

.music_player #player_button:hover {
  animation: player-pop 0.3s ease-in-out forwards;
}