body {
  height: auto;
  flex-direction: column;
}

section {
  height: auto;
}

@media (min-width: 700px) {
  section {
    height: 100vh;
    padding: 0px;
  }
}

.header {
  background-color: #ddb6b3;
}

.header > h3 {
  margin-bottom: 0;
  margin-top: 0;
}

.aboutme {
  max-height: 100%;
  padding: 0px 10px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

@media (min-width: 700px) {
  .aboutme {
    padding: 0px;
  }
}

.aboutme > .highlights_header {
  display: flex;
}

.highlights_header > h3 {
  align-self: center;
  justify-self: start;
  margin-top: 0;
  margin-bottom: 0;
}

.highlights_header > i {
  align-self: center;
  margin-left: auto;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.highlights_header > i:hover {
  animation: player-pop 0.3s ease-in-out forwards;
}

.aboutme > .highlights_album {
  display: grid;
  box-sizing: border-box;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);
  grid-gap: 20px;
  flex-grow: 1;
}

.highlights_album > .project {
  display: flex;
  align-items: center;
  justify-content: baseline;
  text-align: center;
  flex-direction: column;
  row-gap: 10px;
  perspective: 1000px;
}

.card {
  display: flex;
  width: 160px;
  height: 160px;
  position: relative;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.project:hover .card {
  transform: rotateX(-180deg);
}

.card_front, .card_back {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  max-height: 100%;
}

.card_front {
  background-color: transparent;
  width: 100%;
  max-height: 100%;
  color: #59302d;
  border: 1px #59302d solid;
  border-radius: 3px;
}

.card_back {
  background-color: #e0ab98;
  position: absolute;
  box-sizing: border-box;
  overflow: scroll;
  width: 100%;
  height: 100%;
  padding: 10px;
  color: white;
  transform: rotateX(-180deg);
  border: 1px #ffffff solid;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.card_back > p {
  padding: 0px;
  margin-top: 0px;
}

.card_back > a {
  color: white;
  border: solid;
  border-width: thin;
  padding: 5px;
  border-radius: 5px;
}

.card_back > a:hover {
  background-color: rgba(255, 255, 255, 0.34);
  transition: 100ms;
}

.project_name > a {
  text-decoration: none;
  color: #59302d;
}

section .portfolio {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.portfolio_header {
  background-color: orange;
}

.portfolio_navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  column-gap: 20px;
  background-color: pink;
}

.portflio_navbar > h3 {
  margin: 0px;
}

@media (min-width: 700px) {
  .portfolio_navbar {
    display: flex;
    width: auto;
    justify-content: flex-start;
    align-items: center;
    column-gap: 1em;
    padding-bottom: 0em;
  }
}

.portfolio_nav {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
}

.portfolio_tab {
  cursor: pointer;
}

.portfolio {
  display:grid;
  padding: 1.5em;
  background-color: #e8dff5;
  width: 320px;
  height:auto;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2em;
  margin-bottom: 1em;
}

@media (min-width: 700px) {
  .portfolio {
    width: 650px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 2em;
    margin-bottom: 0em;
  }
}

.portfolio > .project {
  display: grid;
  grid-template-rows: repeat(2, auto);
  grid-gap: 1em;
  perspective: 1000px;
}

.portfolio_header {
  height: 30px;
  text-align: center;
  padding-bottom: 1em;
}

@media (min-width: 700px) {
  .portfolio_header {
    height: 30px;
    width: auto;
    text-align: center;
  }
}

.portfolio_header > a#header_link {
  text-decoration: none;
  color: inherit;
}

.music_player {
  display: flex;
  width: auto;
  justify-content: center;
  align-items: center;
  gap: 2em;
  padding-bottom: 1em;
}

.music_player > i#player_button {
  cursor: pointer;
}

@media (min-width: 700px) {
  .music_player {
    place-self: center;
  }
}

.music_player .pause_play {
  cursor: pointer;
  display: grid;
  place-self: center;
}

.music_player .player {
  padding-left: 1em;
  display: grid;
  place-self: center;
}

.music_player .player > svg {
  width: 100%;
}

.portfolio_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.highlights_content > div {
  padding: 2em;
}
